*

!cloudformation/
!cloudformation/project_cf_template.json

!download_worker/
!download_worker/download_worker.py
!download_worker/requirements.txt
!download_worker/Dockerfile

!etl_lambda/
!etl_lambda/etl.py
!etl_lambda/etl.sql

!query_lambda/
!query_lambda/query.py
!query_lambda/query.sql

!schema_init_lambda/
!schema_init_lambda/schema_init.py
!schema_init_lambda/schema.sql

!transcription_lambda
!transcription_lambda/app.py
!transcription_lambda/Dockerfile

!.gitignore
!cli.py
!README.md
!setup.py
!setup.sh