*

!cloudformation/
!cloudformation/project_cf_template.json
!download_worker/
!download_worker/download_worker.py
!download_worker/requirements.txt
!download_worker/Dockerfile
!.gitignore
!README.md
!setup.sh
!test.py